{% set _derived_static_zones_tpl = [] %}
{% macro handle_zone(zone_file, zone) %}
{%   if not (zone.dynamic | default(False)) %}
{%     set _static_zone = {"name": zone.name, "file": zone_file} %}
{%     set _ = _static_zone.update({"admin": zone.admin | default("hostmaster." + zone.name)}) %}
{%     set _ = _static_zone.update({"nameservers": zone.nameservers}) %}
{%     set _ = _static_zone.update({"refresh": zone.refresh | default("604800")}) %}
{%     set _ = _static_zone.update({"retry": zone.retry | default("86400")}) %}
{%     set _ = _static_zone.update({"expire": zone.expire | default("2419200")}) %}
{%     set _ = _static_zone.update({"ttl": zone.ttl | default("604800")}) %}
{%     set _ = _static_zone.update({"mailservers": zone.mailservers | default([])}) %}
{%     set _ = _static_zone.update({"records": zone.records | default([])}) %}
{%     set _zone_hash = _static_zone | string | hash('md5') %}
{%     set _zone_serial = dubzland_bind9_default_serial.stdout_lines | first %}
{%     if bind_zone_details[zone.name] is defined %}
{%       if _zone_hash != bind_zone_details[zone.name].hash %}
{%         set _zone_serial_int = _zone_serial | int %}
{%         set _bind_serial_int = bind_zone_details[zone.name].serial | int %}
{%         if _bind_serial_int >= _zone_serial_int %}
{%           set _zone_serial = _bind_serial_int + 1 %}
{%         endif %}
{%         set _ = _static_zone.update({"hash": _zone_hash, "serial": _zone_serial}) %}
{%         set _ = _derived_static_zones_tpl.append(_static_zone) %}
{%       endif %}
{%     else %}
{%       set _ = _static_zone.update({"hash": _zone_hash, "serial": _zone_serial}) %}
{%       set _ = _derived_static_zones_tpl.append(_static_zone) %}
{%     endif %}
{%   endif %}
{% endmacro %}
{% for view in dubzland_bind9_views %}
{%   for zone in view.zones %}
{%     set zone_dir = ([dubzland_bind9_zone_directory, view.name] | join("/")) %}
{%     set zone_file = ([zone_dir, "db." + zone.name] | join("/")) %}
{%     set _ = handle_zone(zone_file, zone) %}
{%   endfor %}
{% endfor %}
{% for zone in dubzland_bind9_zones %}
{%   set zone_file = ([dubzland_bind9_zone_directory, "db." + zone.name] | join("/")) %}
{%   set _ = handle_zone(zone_file, zone) %}
{% endfor %}
{{ _derived_static_zones_tpl | to_yaml }}

