{##############################################################################
 #
 # MACRO :: print_key()
 #
 #############################################################################}
{% macro print_key(key) %}
key "{{ key.name }}" {
	algorithm {{ key.algorithm }};
	secret "{{ key.secret }}";
};
{% endmacro %}

{##############################################################################
 #
 # MACRO :: print_acl()
 #
 #############################################################################}
{% macro print_acl(acl) %}
acl {{ acl.name }} {
{%   for member in acl.members %}
	{{ member }};
{%   endfor %}
};
{% endmacro %}

{##############################################################################
 #
 # MACRO :: print_view()
 #
 #############################################################################}
{% macro print_view(view) %}
view "{{ view.name }}" {
	match-clients {
{%   for client in view.match_clients %}
		{{ client }};
{%   endfor %}
	};
	recursion {{ view.recursion | default("no") }};
{%   if view.allow_recursion is defined and view.allow_recursion %}
	allow-recursion {
{%     for host in view.allow_recursion %}
		{{ host }};
{%     endfor %}
	};
{%   endif %}

{%   if view.zones is defined and view.zones %}
{%     for zone in view.zones %}
{%       set zone_file = ([dubzland_bind9_zone_directory, view.name, ("db." +
      zone.name)] | join("/")) %}
{{ print_zone(zone_file, zone) | indent(8, true) }}
{%     endfor %}
{%     if zone.includes is defined and zone.includes %}
{%       for include in zone.includes %}
	include "{{ include }}";
{%       endfor %}
{%     endif %}
{%   endif %}
{%   if view.extra_options is defined and view.extra_options %}
{%     for option in view.extra_options %}
	{{ option }};
{%     endfor %}
{%   endif %}
};
{% endmacro %}

{##############################################################################
 #
 # MACRO :: print_zone()
 #
 #############################################################################}
{% macro print_zone(zone_file, zone) %}
zone "{{ zone.name }}" {
	file "{{ zone_file }}";
	type {{ zone.type }};
{%   if zone.allow_update is defined and zone.allow_update %}
	allow-update {
{%     for host in zone.allow_update %}
		{{ host }};
{%     endfor %}
	};
{%   endif %}
{%   if zone.update_policy is defined and zone.update_policy %}
	update-policy {
{%     for policy in zone.update_policy %}
		{{ policy }};
{%     endfor %}
	};
{%   endif %}
{%   if zone.allow_transfer is defined and zone.allow_transfer %}
	allow-transfer {
{%     for host in zone.allow_transfer %}
		{{ host }};
{%     endfor %}
	};
{%   endif %}
{%   if zone.masters is defined and zone.masters %}
	masters {
{%     for master in zone.masters %}
		{{ master }};
{%     endfor %}
	};
{%   endif %}
{%   if zone.extra_options is defined and zone.extra_options %}
{%     for option in zone.extra_options %}
	{{ option }};
{%     endfor %}
{%   endif %}
};
{% endmacro %}
