{% import 'macros.j2' as tpl with context %}
# {{ ansible_managed }}

{% for key in dubzland_bind9_keys %}
include "/etc/bind/{{ key.name }}.key";
{% endfor %}

{% for acl in dubzland_bind9_acls %}
{{ tpl.print_acl(acl) }}
{% endfor %}

{% for view in dubzland_bind9_views %}
{{ tpl.print_view(view) }}
{% endfor %}

{% for zone in dubzland_bind9_zones %}
{%   set zone_file = "{{ dubzland_bind9_zone_directory }}/db.{{ zone.name }}" %}
{{ tpl.print_zone(zone_file, zone) }}
{% endfor %}
